/*General Style - google font */

body {
  font-family: 'Cairo', sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}
/*Timer - google font */
#currentDay {
  font-family: 'Shadows Into Light', cursive;
  font: size 26px;px;
}

/*General Style */

.bold {
  font-weight: 700;
  text-align: center;
}

/*h1 */
.lead {
  text-align: center;
}

/*Time block*/
.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  border-left: 1px dashed #000000;
  border-bottom: 1px dashed #000000;
}


.past {
  background-color: #d3d3d3;
  color: red;
}

.present {
  background-color: #ff6961;
  color: black;
}

.future {
  background-color: #77dd77;
  color: blue;
  font-weight: bold;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
